<script>

  import { goto } from "$app/navigation";

</script>
<div class="relative flex w-full h-full justify-around">
  <div
    class="relative flex flex-col items-start justify-start pt-[13.5rem] max-w-[22vw]"
  >
    <img
      class="w-[22vw] my-12 border-4 border-theme-brown p-8"
      alt="QR-Code para a página do projeto"
      src="/img/qr_pagina.svg"
    />
    <p class="text-4xl mb-8">
      Site da Sala<br />Hercule Florence<br />no MIS-Campinas
    </p>
    <p class="text-[1.35rem] text-theme-lightblue">
      festivalherculeflorence.com.br/salaherculeflorence
    </p>
  </div>
  <div
    class="relative flex flex-col items-end justify-start pt-[13.5rem] max-w-[26vw]"
  >
    <img
      class="w-[22vw] my-12 border-4 border-theme-brown p-8"
      alt="QR-Code para o seminário com Boris Kossoy"
      src="/img/qr_seminario.svg"
    />
    <p class="text-4xl mb-8 text-right">
      Seminário 190 Anos<br />dos Experimentos<br />de Hercule Florence
    </p>
    <p class="text-[1.3rem] text-theme-lightblue">
      ihf19.org.br/190-anos/pt-br/
    </p>
  </div>
</div>
<button
  class="absolute top-0 right-28 z-50 mb-12 p-[3.25rem] opacity-75"
  on:click={() => goto("/sobre/creditos")}
>
  <h2 class="text-3xl border-2 p-2 px-4">Ficha Técnica</h2>
</button>
