<script lang="ts">
  const credits = [
    { function: "Conteúdo Audiovisual", name: "Grão - Cinema e Novas Mídias" },
    { function: "Animações com inteligência artificial", name: "UP Studio" },
    {
      function: "Produção Executiva e Direção Geral",
      name: "Bruno Lottelli e Diego Ruiz de Aquino",
    },
    {
      function: "Pesquisa e Colaboração",
      name: "Ana Angélica Costa, Débora Bruno e Ricardo Lima",
    },
    { function: "Programação e Interatividade", name: "Eduardo Liron" },
    { function: "Narração", name: "Digão Vicente" },
    { function: "Trilha sonora e mixagem", name: "Renan Vasconcelos" },
    { function: "Audiodescrição", name: "Washington Poppi" },
  ];
</script>

<div class="relative flex w-full h-full justify-center items-center">
  <ul class="absolute w-full px-32 text-center mb-32">
    <h1 class="text-theme-brown text-6xl mb-4">Ficha Técnica</h1>

    {#each credits as credit}
      <li class="flex">
        <span class="w-1/2 text-right pr-2">{credit.function}</span>
        <span class="pl-2 font-bold">{credit.name}</span>
      </li>
    {/each}
  </ul>
  <img
    class="absolute bottom-0 z-30 mb-12"
    alt="regua de logo"
    src="/img/regua.png"
  />
</div>
