<script lang="ts">
  import { goto } from "$app/navigation";
  import { page } from "$app/stores";
  import { hideMenu } from "../stores/store";
</script>

<nav
  class="absolute top-0 left-0 w-full z-40 flex justify-between apply-transition text-white opacity-65"
  class:-translate-y-full={$hideMenu || $page.url.pathname === "/"}
>
  <button
    on:click={() => goto("/main")}
    class="flex items-center justify-center ml-8 text-sm font-medium pt-10"
  >
    <div
      class="flex items-center justify-center border-white mx-4
            {$page.url.pathname === '/main'
        ? 'border-0 h-0 mr-0'
        : 'border-[6px] h-20'}
            aspect-square rounded-full overflow-hidden apply-transition"
    >
      <div
        class="flex items-center justify-center border-white border-[4px] h-14 aspect-square rounded-full"
      >
        <div class="bg-white w-6 h-6 triangle"></div>
      </div>
    </div>
    <img src="/img/logo_txt.svg" alt="Sala Hercule FLorence" class="h-20" />
  </button>
  <button
    on:click={() => goto("/sobre")}
    class="flex items-center justify-end pr-12 py-10 w-1/3"
  >
    <div
      class="flex items-center justify-center overflow-clip
                border-white rounded-full apply-transition
                {$page.url.pathname !== '/main'
        ? 'border-0 h-0 w-0 ml-0'
        : 'border-[6px] h-20 w-20 ml-4'}"
    >
      <div
        class="flex items-center justify-center border-white border-[4px] h-14 aspect-square rounded-full text-5xl font-bold pb-2"
      >
        +
      </div>
    </div>
  </button>
</nav>

<style lang="postcss">
  .triangle {
    clip-path: polygon(0% 50%, 80% 0%, 80% 100%);
  }
</style>
