<script lang="ts">
  import { goto } from "$app/navigation";
  import { page } from "$app/stores";
  import MenuBar from "$lib/menuBar.svelte";
  import { fly } from "svelte/transition";
  import "../app.css";
  import { hideMenu, isSliding } from "../stores/store";
  import { cubicInOut } from "svelte/easing";
  import AudioHandler from "$lib/audioHandler.svelte";
  import { onMount } from "svelte";

  export let data;
  let isMounted = false;
  let audioComponent: AudioHandler;
  $: $page.params, toggleMenu();
  $: $page.url.pathname, handlePath();

  let timer = 0;
  let suspend = false;
  let touchPosition = { x: -1, y: -1, startTime: 0 };

  function handlePath() {
    clearTimeout(timer);
    setTimer();
  }

  function startTouch(touch: TouchEvent) {
    if ($isSliding) suspend = true;
    touchPosition.x = touch.touches[0].clientX;
    touchPosition.y = touch.touches[0].clientY;
    touchPosition.startTime = touch.timeStamp;
  }

  function endTouch(touch: TouchEvent) {
    if (suspend) {
      suspend = false;
      isSliding.set(false);
      return;
    }
    const slideLeft = touch.changedTouches[0].clientX - touchPosition.x < -150;
    const slideDown = touch.changedTouches[0].clientY - touchPosition.y > 150;
    const slide =
      slideLeft && slideDown
        ? -1 * (touch.changedTouches[0].clientX - touchPosition.x) >
          touch.changedTouches[0].clientY - touchPosition.y
          ? "left"
          : "down"
        : slideLeft
          ? "left"
          : "down";
    if (slide === "left") goto("/main");
    else if (slideDown && audioComponent) audioComponent.restartNarration();
  }

  function toggleMenu() {
    if (!$page.params.hasOwnProperty("video")) hideMenu.set(false);
  }

  function setTimer() {
    timer = setTimeout(() => {
      try {
        if (["/", "/main"].indexOf($page.url.pathname) === -1) goto("/main");
      } catch (e) {
        console.log(e);
      }
    }, 240000);
  }

  onMount(() => isMounted = true)
</script>

<svelte:window
  on:contextmenu|preventDefault={() => console.log("context menu prevented")}
/>

{#if isMounted}
<AudioHandler bind:this={audioComponent} />
{/if}

<MenuBar />
<main
  class="relative h-screen w-screen overflow-clip flex"
  on:touchstart={startTouch}
  on:touchend={endTouch}
>
  {#key data.routeKey}
    <div
      class="absolute h-screen w-screen flex bg-theme-darkblue"
      out:fly={{
        x: !data.routeKey.includes("/sobre") ? -1920 : 0,
        y: data.routeKey.includes("/sobre") ? 1080 : 0,
        duration: 300,
        easing: cubicInOut,
      }}
      in:fly={{
        x: !data.routeKey.includes("/sobre") ? 1920 : 0,
        y: data.routeKey.includes("/sobre") ? -1080 : 0,
        duration: 300,
        easing: cubicInOut,
      }}
    >
      <slot />
    </div>
  {/key}
</main>
<img
  src="/img/bg_br.png"
  alt="Projeto de câmera e suporte de negativos, desenhado à mão."
  class="absolute w-full h-full object-contain top-0 left-0 pointer-events-none
  transition-opacity duration-300 ease-in-out
  {$page.params.hasOwnProperty('video') ? 'opacity-0' : 'opacity-5'}"
/>
