<script lang="ts">
  import { goto } from "$app/navigation";

  function start() {
    document.documentElement.requestFullscreen();
    goto('main');
  }
</script>
<button on:click={start} class="flex-1 flex items-center justify-center">
  <div class="px-4 py-2 border border-theme-darkblue bg-theme-brown rounded-md drop-shadow">
    <span class="text-2xl text-theme-darkblue">Começar</span>
  </div>
</button>