<script lang="ts">
  import { goto } from "$app/navigation";
  import { page } from "$app/stores";

  function togglePanel(panel: string) {
    if (panel === $page.params.main) goto("/main");
    else goto(panel);
  }

  function toggleNavigation(panel: string) {
    if (panel === $page.params.main) goto(`/video/${panel}`);
    else togglePanel(panel);
  }
</script>

<section
  class="relative flex justify-start apply-transition
      {$page.params.main === 'mente'
    ? 'w-full'
    : $page.params.main === 'tecnologia'
      ? 'w-0'
      : 'w-1/2'}"
>
  <button
    type="button"
    on:click={() => toggleNavigation("mente")}
    class="apply-transition w-full
      {$page.params.main === 'mente' ? 'p-32 ml-32' : 'p-12'}
      {$page.params.main === 'tecnologia' ? 'opacity-0' : 'opacity-100'}"
  >
    <div
      class="flex flex-col text-start apply-transition {$page.params.main ===
      'mente'
        ? 'w-1/2'
        : 'w-full'}"
    >
      <h1
        class="flex flex-col items-end apply-transition
              {$page.params.main !== 'mente'
          ? 'pt-[70vh] text-7xl pl-[40%] text-transparent shining'
          : 'pt-[20vh] text-8xl text-theme-brown'}"
      >
        <div class={$page.params.main !== "mente" ? "mr-16" : "mr-auto"}>
          A mente de um
        </div>
        <div class={$page.params.main !== "mente" ? "mr-6" : "mr-0"}>
          inventor inquieto
        </div>
      </h1>
      <p
        class="my-12 apply-transition text-justify
          {$page.params.main !== 'mente'
          ? 'opacity-0 -translate-x-24'
          : 'opacity-100 delay-200'}"
      >
        Através da imaginação, da tecnologia e de minhas próprias ilustrações,
        você irá mergulhar, de forma lúdica, em minha forma de pensar, enxergar
        e capturar o mundo. Um passeio pela minha mente, no período em que
        desenvolvi técnicas fotográficas inovadoras. Toque na tela mais uma vez
        para acessar a experiência, ou gesto de deslizar para a esquerda para
        retornar à tela anterior.
      </p>
      <div
        class="ml-auto px-4 py-2 border border-theme-darkblue bg-theme-brown rounded-md drop-shadow apply-transition
    {$page.params.main !== 'mente'
          ? 'opacity-0 -translate-x-24'
          : 'opacity-100 delay-300'}"
      >
        <span class="text-2xl text-theme-darkblue">Começar</span>
      </div>
    </div>
  </button>
  <img
    src="/img/retrato_cor.png"
    alt="Retrato de Hercule Florence, homem europeu, branco de nariz fino e terno de época."
    class="absolute flex w-full h-full apply-transition pointer-events-none origin-bottom-left
        object-contain filter mix-blend-screen origin-bottom-lef max-h-[80%] bottom-0
          {$page.params.main !== 'mente'
      ? 'object-left-bottom grayscale opacity-50 translate-x-20 blurring'
      : 'object-center-bottom grayscale-0 translate-x-[25vw]'}"
  />
</section>
<section
  class="relative flex justify-end apply-transition
      {$page.params.main === 'tecnologia'
    ? 'w-full'
    : $page.params.main === 'mente'
      ? 'w-0'
      : 'w-1/2'}"
>
  <button
    type="button"
    on:click={() => toggleNavigation("tecnologia")}
    class="flex flex-col items-end text-start apply-transition w-full
    {$page.params.main === 'tecnologia' ? 'p-32' : 'p-6 pl-32'}
        {$page.params.main === 'mente' ? 'opacity-0' : 'opacity-100'}"
  >
    <div
      class="flex flex-col text-start apply-transition {$page.params.main ===
      'tecnologia'
        ? 'w-[40%]'
        : 'w-full'}"
    >
      <h1
        class="flex flex-col text-start apply-transition pt-[20vh] delay-animation {$page
          .params.main !== 'tecnologia'
          ? 'text-7xl pr-[45%] shining text-transparent'
          : 'text-8xl text-theme-brown'}"
      >
        <div>Reconstruindo</div>
        <div class="ml-auto">tecnologias pioneiras</div>
      </h1>
      <p
        class="my-12 apply-transition text-justify
          {$page.params.main !== 'tecnologia'
          ? 'opacity-0 translate-x-24'
          : 'opacity-100 delay-200'}"
      >
        Seria possível reconstruir, hoje, os processos, dispositivos e técnicas
        que eu, Hercule Florence, desenvolvi há quase duzentos anos? O fotógrafo
        Roger Sassaki seguiu os meus passos e agora abre seu ateliê para
        compartilhar esta aventura! Toque na tela mais uma vez para acessar a
        experiência, ou gesto de deslizar para a esquerda para retornar à tela
        anterior.
      </p>
      <div
        class="mr-auto px-4 py-2 border border-theme-darkblue bg-theme-brown rounded-md drop-shadow apply-transition
      {$page.params.main !== 'tecnologia'
          ? 'opacity-0 translate-x-24'
          : 'opacity-100 delay-300'}"
      >
        <span class="text-2xl text-theme-darkblue">Começar</span>
      </div>
    </div>
  </button>
  <img
    src="/img/camera_br.png"
    alt="Projeto de câmera e suporte de negativos, desenhado à mão."
    class="absolute w-full h-full max-h-[70vh] apply-transition pointer-events-none bottom-0
          object-contain filter mix-blend-screen object-left-bottom origin-bottom-right delay-animation {$page
      .params.main !== 'tecnologia'
      ? 'opacity-30 mb-12 translate-x-24 blurring'
      : 'opacity-75 translate-x-40 mb-32'}"
  />
</section>

<style lang="postcss">
  h1 {
    max-width: 800px;
  }

  .shining {
    background: linear-gradient(
      to right,
      rgb(173 130 81) 0,
      #fff 1%,
      rgb(173 130 81) 2%
    );
    background-clip: text;
    animation: shine 15s ease-in-out infinite forwards;
  }

  @keyframes shine {
    0% {
      background-position: 0px;
      @apply translate-x-0;
    }
    10% {
      @apply blur-none;
    }
    15% {
      @apply blur-[2px] translate-x-2;
    }
    30% {
      background-position: 792px;
      @apply blur-none translate-x-0;
    }
    100% {
      background-position: 792px;
      @apply translate-x-0;
    }
  }

  .blurring {
    animation: blur 15s ease-in-out infinite forwards;
  }

  @keyframes blur {
    0%,
    15% {
      @apply blur-none scale-100;
    }
    25% {
      @apply blur-[2px] scale-[.99];
    }
    35%,
    100% {
      @apply blur-none scale-100;
    }
  }

  .delay-animation {
    animation-delay: 6s;
  }
</style>
