@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MrsSaintDelafield";
  src: local(""), url("/font/Mrs_Saint_Delafield/MrsSaintDelafield-Regular.ttf");
}

@font-face {
  font-family: "CormorantGaramond";
  src: local(""), url("/font/Cormorant_Garamond/CormorantGaramond-Light.ttf");
}

body {@apply overflow-clip bg-theme-darkblue;}

main {
  font-family: "CormorantGaramond";
  @apply text-theme-stone text-2xl;
}

h1 { font-family: "MrsSaintDelafield"; }

.apply-transition {
  @apply transition-all duration-300 ease-in-out;
}