<script lang="ts">
  import { goto } from "$app/navigation";
  import { page } from "$app/stores";
  import { hideMenu, isSliding } from "../../../stores/store";

  let videoPlayer: HTMLVideoElement;
  let rangeInput: HTMLInputElement;
  let isPlaying = true;
  let currentTime = 0;
  let currentDuration = 0;

  $: isPlaying, hideMenu.set(isPlaying);

  function showControls() {
    if (isPlaying) toggleVideo(false);
  }
  function hideControls(e: Event) {
    if (isPlaying) return;
    toggleVideo(true);
    e.stopPropagation();
  }
  function toggleVideo(play: boolean) {
    if (!videoPlayer) return;
    play ? videoPlayer.play() : videoPlayer.pause();
    isPlaying = !videoPlayer.paused;
  }
  function seek() {
    if (!rangeInput || !videoPlayer) return;
    videoPlayer.currentTime = Number(rangeInput.value) * videoPlayer.duration;
  }
  function updateTime() {
    if (!videoPlayer) return;
    currentTime = videoPlayer.currentTime;
    currentDuration = videoPlayer.duration;
  }
  function toMinutes(miliseconds: number) {
    const minutes = Math.floor(miliseconds / 60);
    const seconds = Math.floor(miliseconds - minutes * 60);
    return `${minutes < 10 ? "0" + minutes : minutes}:${seconds < 10 ? "0" + seconds : seconds}`;
  }
  function enableSubs() {
    if (!videoPlayer) return;
    videoPlayer.textTracks[0].mode = "showing";
  }
</script>

<div class="flex-1 flex">
  <button
    on:click={() => goto("/main")}
    class="absolute top-0 w-1/3 h-40 z-50"
  />
  <video
    bind:this={videoPlayer}
    on:load={enableSubs}
    on:timeupdate={updateTime}
    on:ended={() => goto("/main")}
    autoplay
    class="flex-1"
  >
    <source src="/video/{$page.params.video}.mp4" type="video/mp4" />
    <track
      kind="captions"
      src="/video/{$page.params.video}.vtt"
      srclang="pt-BR"
      default
    />
  </video>
  <button
    on:click={showControls}
    class="absolute z-10 w-full h-full flex flex-col apply-transition
          bg-gradient-to-b from-theme-darkblue via-transparent to-theme-darkblue"
    class:opacity-0={$hideMenu}
  >
    <button
      on:click={hideControls}
      class="flex-1 flex items-center justify-center apply-transition pt-12"
      class:delay-200={!$hideMenu}
      class:opacity-0={$hideMenu}
    >
      <div
        class="w-48 aspect-square rounded-full bg-theme-darkblue bg-opacity-75 flex items-center justify-center apply-transition border-[10px] border-theme-brown"
        class:delay-200={!$hideMenu}
        class:opacity-0={$hideMenu}
      >
        <div class="play w-24 aspect-square"></div>
      </div>
    </button>
    <div class="w-full flex items-center py-4 px-8">
      <button on:click={hideControls}>
        <div class="play h-8 w-6"></div>
      </button>
      <div class="relative flex-grow mx-8 flex items-center">
        <div class="absolute h-1 bg-theme-grey w-full"></div>
        <input
          type="range"
          bind:this={rangeInput}
          on:change={seek}
          on:pointerdown={() => {
            isSliding.set(true);
          }}
          on:pointerup={() => {
            isSliding.set(false);
          }}
          min="0"
          max="1"
          step="0.001"
          value={currentTime / currentDuration}
          class="absolute w-full left-0 right-0"
        />
      </div>
      <div class="text-theme-brown">
        -{toMinutes(currentDuration - currentTime)}
      </div>
    </div>
  </button>
</div>

<style type="postcss">
  input[type="range"] {
    @apply relative h-8 bg-transparent;
  }
  input[type="range"]::-moz-range-progress {
    @apply bg-theme-brown;
  }
  input::-moz-range-thumb,
  input::-webkit-slider-thumb {
    @apply bg-theme-brown rounded-full w-2 h-2;
  }
  .play {
    @apply bg-theme-brown;
    clip-path: polygon(20% 0%, 100% 50%, 20% 100%);
  }
</style>
